<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>상세정보</title>
		<style>
		.item-container{
			max-width: 900px;
			margin: 0 auto;
		}
		.item{
			float:left;
			width:200px;
			border:1px solid #ccc;
			padding: 10px;
			text-align: center;
			margin:10px;
		}
		.item img{
			width:100%;
			height:auto;
		}
		</style>
	</head>
	<body>
		<h2>제품 상세정보</h2>
		<div class="item-container">
			<div class="item">
				<div th:if="${product != null}">
					<div th:if="${product.imgName != null and product.imgPath != null}">
						<img th:src="@{${product.imgPath}}" style="width:100%"/><br>
					</div>
					<div th:unless="${product.imgName != null and product.imgPath != null}">
						<img th:src="@{/img/텅.png}"/>
					</div>
					<label>제품명 : </label>
					<span th:text="${product.name}"></span><br>
					<label>상세설명 : </label>
					<span th:text="${product.text}"></span><br>
					<label>가격 : </label>
					<span th:text="${product.price}"></span><br>
					<label>재고 : </label>
					<span th:text="${product.stock}"></span><br>
					
					<!--댓글-->
					<h4>+++++댓글+++++</h4>
					<div th:each="comment:${product.comments}">
						<p th:text="${comment.content}"></p>
					</div>
					<!--댓글 입력-->
					<form th:action="@{/addComment(productId=${product.id}, commentContent=${commentContent})}" method="post">
						<div type="hidden" name="productId" th:value="${product.id}">
							<label>댓글 작성</label>
							<input type="text" id="commentContent" name="commentContent">
							<button type="submit">댓글등록</button>
						</div>
					</form>
					<a th:href="@{/product/list}">돌아가기</a>
				</div>
			</div>
		</div>
	</body>
</html>