<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>회원가입</title>
	</head>
	<body>
		<h2>회원가입</h2>
		<form th:action="@{/user/signup}" th:object="${userCheckForm}" method="post">
			<div>
				<label>회원 분류</label>
				<select th:field="*{isRole}">
					<option value="ADMIN">관리자</option>
					<option value="USER">일반회원</option>
				</select>
				<!--<input type="radio" name="isRole" id="isRole" value="ADMIN"/>관리자
				<input type="radio" name="isRole" id="isRole" value="USER"/>일반회원<br>-->
			</div>
			<div>
				<label for="username">사용자id</label>
				<input type="text" th:field="*{username}"/>
			</div>
			<div>
				<label for="password1">비밀번호</label>
				<input type="password" th:field="*{password1}"/>
			</div>
			<div>
				<label for="password2">비밀번호 확인</label>
				<input type="password" th:field="*{password2}"/>
				<form:errors path="password2" class="error"/>
			</div>
			<div>
				<label for="email">이메일</label>
				<input type="email" th:field="*{email}"/>
			</div>
			<button type="submit">회원가입</button>
		</form>
	</body>
</html>