<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>상호명 검색 결과</title>
	</head>
	<body>
		<h2>상호명 검색 결과</h2>
		<form th:action="@{/cafes/search}" role="search" method="GET">
			<span>카페 검색</span>
			<input type="text" name="keyword" placeholder="상호명을 검색하세요"/>
			<button type="submit">검색</button>
		</form>
		<br>
		<table border="1">
			<thead>
				<tr>
					<th>no</th>
					<th>상호명</th>
					<th>지역</th>
					<th>영업시간</th>
				</tr>
			</thead>
			<!-- 검색 결과를 모두 표시하는 공간을 만들어준다 -->
			<tbody>
				<tr th:each="cafe : ${cafes}">
					<td th:text="${cafe.cafe_id}"></td>
					<td th:text="${cafe.name}"></td>
					<td th:text="${cafe.location}"></td>
					<td th:text="${cafe.opening_hours}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/cafes}">돌아가기</a>
	</body>
</html>