<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>상세 보기</title>
	<style>
		.item-container{
			max-width: 900px;
			margin: 0 auto;
		}
		.item{
			float:left;
			width:200px;
			border:1px solid #ccc;
			padding: 10px;
			text-align: center;
			margin:10px;
		}
		.item img{
			width:100%;
			height:auto;
		}
	</style>
	</head>
	<body>
		<h2 th:text="'제품 상세 정보 : ' + ${item.name}"></h2>
		<div class="item-container">
			<div class="item">	
				<div th:if="${item != null}">
						<!--이미지 경로와 이미지 이름-->
						<div th:if="${item.imgName != null and item.imgPath != null}">
							<!--<img th:src="@{'/img/' + item.imgPath + '/' + item.imgName}" style="width: 300px;"/>-->
							<img th:src="@{${item.imgPath}}" style="width: 100%;"/><br>
							<!--<img th:src="@{${item.getImgPath()}}" style="width: 300px;"/><br>-->
						</div> 
						<div th:unless="${item.imgName != null and item.imgPath != null}">
							<img th:src="@{/img/텅.png}"/>
						</div>	
						<label>제품명 : </label>
						<span th:text="${item.name}"></span><br>
						<label>설명 : </label>
						<span th:text="${item.text}"></span><br>
						<label>가격 : </label>
						<span th:text="${item.price}"></span><br>
						<label>재고 : </label>
						<span th:text="${item.stock}"></span><br>
						<a th:href="@{/item/list}">돌아가기</a>
				</div>
			</div>
		</div>
	</body>
</html>