<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>게시글 작성</title>
		<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
	</head>
	<body>
		<h2>게시글 작성하기</h2>
		<!--boardList 주소로 제출한다-->
		<form th:object="${board}" th:action="${board_id != null ? '/boards/update/' 
													+ board_id:'/boards/create'}" method="post">
			
			<input type="hidden" th:field="*{board_id}"/>
			
			<label for="title">제목 : </label>
			<input type="text" id="title" name="title" th:field="*{title}" required>
			<br>
			
			<label for="content">내용 : </label>
			<input type="text" id="content" name="content" th:field="*{content}" required>
			<br>
			
			<label for="author">작성자 : </label>
			<input type="text" id="author" name="author" th:field="*{author}" required>
			<br>
			
			<button type="submit">저장</button>
		</form>
	</body>
</html>