<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>쿠리만쥬 쇼핑몰</title>
	</head>
	<body>
		<h1>쿠리만쥬 쇼핑몰</h1>
		<ul>
			<li><a>home</a></li>
			<li><a th:href="@{/new}">상품 등록</a></li><!--상품 등록으로 통하는 url설정-->
			<li><a>판매자 페이지</a></li>
			<li><a>제품 상세보기</a></li><!--제품 상세보기로 통하는 url설정-->
			<li>
				<ul>
					<li><a th:href="@{/itemlist}">모든 제품 보기</a></li><!--itemLsit-->
					<li>인기 상품</li>
					<li>신상 구경</li>
				</ul>
			</li>
		</ul>
		<form>
			<button>로그인</button>
		</form>
		<form>
			<button>회원가입</button>
		</form>
		<form>
			<a>충전금</a>
		</form>
		
		<!-- 판매자가 아니라 소비자일 경우 -->
		<ul>
			<li>마이페이지</li>
		</ul>
	</body>
</html>